version: "3.5"
services:
  dev:
    container_name: mail-gatekeeper-app-dev
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - ".:/mail-gatekeeper"
      - "./.aws:/root/.aws"
      - "./zshrc:/root/.zshrc"
      - mail-gatekeeper-app-cache:/cache
      - /var/run/docker.sock:/var/run/docker.sock

      # (find src* | grep  '/bin$' && find src* | grep  '/obj$' && find tests* | grep  '/bin$' && find tests* | grep  '/obj$')  | sed 's/^/ - \/mail-gatekeeper\//'
      - /mail-gatekeeper/src/MailGatekeeper.Api/bin
      - /mail-gatekeeper/src/MailGatekeeper.Api/obj
    environment:
      - ASPNETCORE_ENVIRONMENT=development
      - HISTFILE=/cache/.bash_history
    entrypoint: top -b
    logging:
      driver: none

volumes:
  mail-gatekeeper-app-cache:
